.img{
    background-color: rgb(136, 143, 105);
    margin: 1rem 50rem 1rem 50rem;
    padding: 0.5rem 0.5rem;
}

.caja{
    background-color: bisque;
    margin: 1rem 2rem 1rem 2rem;
    padding: 0.5rem 3rem;
}

.links{
    background-color: rgb(87, 114, 114);
    margin: 1rem 2rem 1rem 2rem;
    padding: 0.5rem 3rem;
}

p{
    font-style: normal;
}

h1 {
    font-style: italic;
}

h2{
    font-style: oblique;
}